{% extends 'base.html' %}
{% load static %}
{% block title %}Reklama - Kinomakon{% endblock %}

{% block content %}
<div class="kn-top-margin">

</div>
<div class="container-fluid">
    <div class="blur-box mx-2 mx-sm-3 mx-md-5 px-1 px-md-2 py-3">
        <div class="" style="text-align:start">
            <h4 >Kinomakon reklama xizmati</h4>
            <hr>
            <p><b>Sayt va Telegram kanallarimizdan sifatli va hamyonbop reklama oling!</b></p>
            <p><i>Telegramda 20 000dan ortiq auditoriyaga egamiz...</i></p>
            <p><i>O'z biznesingizni biz bilan birga rivojlantiring</i></p>

            <p>Bog'lanish:</p>
            <p>&nbsp;&nbsp;&nbsp;<a href="https://t.me/navruzbro/" style="color:#757575">Telegram: NavruzBRO</a></p>

        </div>
    </div>
</div>
{% endblock content %}