{% extends 'base.html' %}
{% load static %}
{% block title %}Kinomakon haqida{% endblock %}

{% block content %}
<div class="kn-top-margin">

</div>
<div class="container-fluid">
    <div class="blur-box mx-2 mx-sm-3 mx-md-5 px-1 px-md-2 py-3">
        <div class="" style="text-align:start">
            <h5>Sizning ham Kinomakon darajasida yoki undanda sifatli saytingiz bo'lishini hohlaysizmi..?</h5>
            <hr>
                <p>
                    <i>
                       Hozirda har bir biznes uchun auditoriya kerak. Bo'lmasa biznes hech qanaqasiga rivojlana olmaydi!<br>
                        Auditoriyani yig'ishning eng yaxshi yo'li Brend uchun Web sayt yaratishdir. Web sayt sizga quyidagi ustunliklarni beradi. Web sayt bilan siz sizning biznesingizga mijozlarning ishonchi ortadi va Biznesningiz katta ekanligi haqida his-tuyg'u beradi. Mahsulotlarni e'lon qilishda ham web saytdan qulay yo'q --> Hammasi siz hohlagandek bo'ladi<br><br>
                        Biz sizga CHiroyli dizayndan tashqari Kuchli backendni ham taqdim etamiz. Masalan Kinomakon saytinging backendi kuchli --> Unda LIayklarva DIslayklar sonini foizga aylantiruvchi, Filmni ko'rishlar layk va sanasiga qarab foydalanuvchilarga tavsiya etish kabi kuchli algoritmlar qo'shilgan. <br><br>
                        Biz sizga Sifatli, Ishonchli va Hamyonbop Web saytni yaratib beramiz! Narxlarimiz bozordagidan arzon va sifatli bo'ladi

                        <br><br>
                        Murojat uchun:
                        &nbsp;&nbsp;<a href="https://t.me/navruzbro" class="butn-5 m-1 py-1 px-2">Telegram: NavruzBRO</a>
                    </i>
                </p>

        </div>
    </div>
</div>
{% endblock content %}