{% extends 'base.html' %}

{% block title  %} ПРАВООБЛАДАТЕЛЯМ - DMCA | kinomakon {% endblock %}

{% block content %}
    <div class="kn-top-margin-sm">
        
    </div>
    <!-------END__NAVBAR---------->

    <div class="mb-3 mx-4 dmca">
        <nav class="kn-breadcrumb-box">
           
            <div class="kn-breadcrumb">
                <a class="" href="{% url 'film:home' %}">Kinomakon</a><span> >> </span>
                
                <a class="" href="#">ПРАВООБЛАДАТЕЛЯМ | DMCA</a>
            </div>
        </nav>

        <div class="blur-box mx-1 mx-lg-4 my-4 px-1 px-lg-4 py-3">
            <h4>ПРАВООБЛАДАТЕЛЯМ</h4>
            <a href="{% url 'film:dmca' %}" class="fs-5 kn-text-link monospace">English version is here!</a>
            <p class="z-index-10 kn-text kn-text-smaller" >
                <br>
                Весь контент размещенный на сайте представляет собой 
                материал, находящийся в свободном доступе для просмотра
                и скачивания в сети Интернет. 
                Сбор доступных в Интернете материалов и их размещение в
                 каталоге осуществляется в автоматическом режиме. 
                Администрация сайта в данном случае не осуществляет 
                контроль над добавляемым контентом.<br><br>
                
                Администрация сайта
                 также не осуществляет деятельность, связанную с 
                публикацией нелицензионного контента, незаконно 
                украденного и находящегося под защитой правообладателей.
                Автоматизированная система публикует только находящийся
                    в свободном доступе материал из открытых источников.<br><br> 
               <b> Ресурс всегда открыт для сотрудничества с 
                    правообладателями.</b> 
                    
                    Если Ваши исключительные права на
                     объекты авторской собственности нарушаются каким-либо
                      образом с использованием данного ресурса 
                      (размещение информации, защищенной авторским правом),
                    администрация готова оказать Вам содействие и удалить с сайта
                    соответствующие материалы.<br><br>
                     При возникновении спорных ситуаций мы
                     просим Вас прислать нам письмо в электронном виде, где необходимо 
                 указать следующее: <br><br>
                 1. Документальное подтверждение Ваших прав на
                    материал, защищённый авторским правом:<br><br>
                    
                    <li class="kn-text-secondary kn-text-smaller-in">отсканированный документ с
                     печатью, либо</li>
                     
                    <li class="kn-text-secondary kn-text-smaller-in"> email с официального почтового домена компании 
                         правообладателя, либо</li>
                         
                    <li class="kn-text-secondary kn-text-smaller-in"> иная информация, позволяющая однозначно
                        идентифицировать Вас как правообладателя данного материала.</li>
                        
                        <br><br>
                     2.Прямые ссылки на страницы сайта, которые содержат 
                        данные, опубликованные с нарушением авторских прав.
                         При получении письма, содержащего данное
                          подтверждение, в течение 48 часов мы удалим с 
                          сайта защищенный авторским правом контент. Либо
                           по вашей же просьбе заменим материал на тот,
                            который вас устроит.<br> 
                            
                <hr>Администрация всегда идет
                             на контакт с авторами , присылать жалобы вы
                              <br>можете на почтовый адрес: 
                <a class="kn-text-link kn-text-500 kn-text-a p-2" href="mail:navruznorpulatov@gmail.com" > navruznorpulatov@gmail.com </a> 
            
            </p>
        </div>

        <a class="z-index-10 p-4 d-block kn-text" href="mailto:navruznorpulatov@gmail.com">
            Mail to -> navruznorpulatov@gmail.com
        </a>
    </div> 

{% endblock %}