{% extends 'base.html' %}
{% load static %}
{% block title %}Kinomakon haqida{% endblock %}

{% block content %}
<div class="kn-top-margin">

</div>
<div class="container-fluid">
    <div class="blur-box mx-2 mx-sm-3 mx-md-5 px-1 px-md-2 py-3">
        <div class="" style="text-align:start">
            <h5>Saytdan qanday samarali foydalanish mumkin</h5>
            <hr>
            <p>
                <i>
                    Yangi Premyeralar Doim bosh sahifada elon qilib boriladi..<br><br>
                    Film tanlashda uning reytingiga e'tibor bering!<br>
                    Reyting layk va dislayklar soniga qarab matematik formula yordamida foizlarga aylantiriladi<br>
                    Shuning uchun sizning layklaringiz muhim ahamiyatga ega filmni ko'rib bo'lib layk bosishni unutmang!<br><br>
                    Filmlarni sahifa tepasidagi joylashgan <i class="fa-solid fa-bars"></i> ga kirib filmlarni filterlashingiz mumkin. Janr, Davlat, Yil va Kinoolam bo'yicha<br><br>
                    Tavsiyalar tizimidan foydalaning. Tavsiya tugmasini bosish orqali sayt tavsiya qilgan filmlardan zavq oling. (reyting, ko'rishlar va vaqtga qarab tavsiya etadi)<br>
                    Tavsiya doim o'zgarib turadi. bitta filmni tavsiya etib qolib ketmaydi<br><br>
                    Ko'plab imkoniyarlar uchun albatta ro'yxatdan o'ting!<br><br>
                    Mundarija - Saytimizda ham mundarija bor yani hamma joylangan filmlar ro'yxati(buni ham <i class="fa-solid fa-bars"></i> dan topasiz!)<br><br>
                    FIlmlarni saytdan topolmasangiz telegram kanalimizdan yoki aksincha telegramda topolmasangiz saytdan qidirib ko'ring. buning uchun filmlarni qidirish imkoniyatini ham qo'shganmiz!<br>
                    Telegram kanalga link esa sal pastroqda
                </i>
            </p>
        </div>
    </div>
</div>
{% endblock content %}